node_modules
cdk.out
*.js
!init-docker-image/*
!.lintstagedrc.js
!commitlint*.js
!jest.config.js
*.d.ts
node_modules

test-report.xml
coverage

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json

.idea
.vscode/
*.log
/.eslintcache

./template-cdk-repo.sh
